@import url(wtwg-reset.css);
@import url(../static/fonts/langdon/stylesheet.css);
:root {
		--grey: #111111;
        --grey-accent: rgb(37, 37, 37);
        --yellow: #dced22;
        --red: #911900;
        --red-faded: rgb(87, 61, 56);
        --off-white: rgb(218, 218, 218);
        --white: rgb(255, 255, 255);

	}

body {
    font-family: sans-serif;

}

a {
    color: var(--red);
    text-decoration: underline;
    font-weight: bold;
}

a:visited {
    color: var(--red-faded);

}

h1, h2, h3, h4, h5, h6 {
    font-family: langdon;
    text-transform: uppercase;
}
section {
    padding: 2em;
    display: flex; 
    justify-content: center; 
    flex-direction: column; 
    align-content: center;
    row-gap: 1em;
    justify-content: center;
}

